# ***`Model_on_DecisionTree`***

Decision trees break down complex problems into simple decisions to help predict outcomes through a flow-chart like evaluation of input variables. It creates understandable tree models for classification and regression.

>### Import libraries

In [20]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

> ###  Load  the data

In [21]:
titanic_df = sns.load_dataset('titanic')
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

>### Check the summary of the data

In [22]:
titanic_df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [23]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [24]:
titanic_df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

>### impute the missing values age and fare

In [25]:
median_age = titanic_df['age'].median()
titanic_df['age'] = titanic_df['age'].fillna(median_age)

In [28]:
median_fare = titanic_df['fare'].median()
titanic_df['fare'] = titanic_df['fare'].fillna(median_fare)

In [13]:
titanic_df.shape

(891, 15)

In [14]:
titanic_df.duplicated

<bound method DataFrame.duplicated of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female  28.0      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]>

>### Split into features and target

In [29]:
X = titanic_df[['pclass','sex','age','sibsp','parch','fare']]
y = titanic_df['survived']

>### Split into train and test

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

>### Create Decision Tree classifier object

In [37]:
dt = DecisionTreeClassifier()

>### Train the model on training data

In [38]:
#Create a label encoder object and fit/transform the sex column:
le = LabelEncoder()
X['sex'] = le.fit_transform(X['sex'])

# Check the encoded values:
print(X['sex'].unique()) # Should print [0, 1]

[1 0]

C:\Users\HP\AppData\Local\Temp\ipykernel_12840\486964209.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['sex'] = le.fit_transform(X['sex'])

In [39]:
dt.fit(X_train, y_train)

DecisionTreeClassifier()

>### Make predictions on test data

In [40]:
y_pred = dt.predict(X_test)

>### Evaluate predictions

In [41]:
print('Accuracy score on test data: ', accuracy_score(y_test, y_pred))

Accuracy score on test data:  0.8026905829596412

>## `Interpretation` 

- Firstly Import the libaraies
- Upload the Dataset from seaborn
- Checking the basic EDA steps
- Handle missing data
- Encode categorical variables
- Normalize numeric variables
- Train-test split
- A Decision Tree Classifier is instantiated and fitted on training data
- Key variables like sex, age, fare and passenger class drive decision splits
- Train the model and then simply prediction on test data